* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html{
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: white;
}

header{
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #48bd25;
}

.logo img{
    height: 10vh;
    width: 10vh;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo img:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 15px;
    color: white;
    margin-left: 2rem;
    font-weight: 400;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover{
    font-size: 17px;
    border-bottom: 3px solid #af7200fd;
}
